<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohammadag.multiplewidgets"
    android:versionCode="3"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="Enables multiple widgets on Galaxy S4 lockscreen when secure" />
    </application>

</manifest>